<div class="center jumbotron">
<h1>Welcome</h1>
    <p>The Online Process Lab of Artists of Daejeon</p>
        
    <h2>
        This page documents the processes behind the work of Daejeon national and international artists 
        and how our city affects our work.
    </h2>
    
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%=link_to image_tag("djartsco_social.png", alt: "logo", class: "responsive-image center" ) %>