<footer class="footer">
    <small>
        <a href="http://www.monicanickolai.com/">Monica Nickolai</a>
    </small>
    <nav>
        <ul>
          <li><%= link_to "Home", "#" %></li>
          <li><%= link_to "Help", "#" %></li>
        </ul>
    </nav>
</footer>